<!DOCTYPE html>
<html>
  <head>
    <title>BlogLOL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%flash.each do |name, msg|%>
      <ul>
        <li> <%= msg%> </li>
      </ul>
    <%end%>  
    <%= yield %>
  </body>
</html>
